@{
    List<object> menuItems = new List<object>
    {
        new { text = "Основне", separator = true },
        new { text = "Головна", url = Url.Action("Index", "Dashboard"), iconCss = "fa-solid fa-chart-line" },
        new { text = "Категорії", url = Url.Action("Index", "Category"), iconCss = "fa-solid fa-folder-closed" },
        new { text = "Транзакції", url = Url.Action("AddOrEdit", "Transaction"), iconCss = "fa-solid fa-arrow-right-arrow-left" }
    };
}

<ejs-sidebar id="sidebar" width="290px" enableDock dockSize="100px"
             target=".dock-target" enableGestures="false">
    <e-content-template>

        <div class="logo-wrapper">
            <div class="app-logo">
                <img src="~/logo.png" />
            </div>
            <div class="w-100"></div>
            <i id="sidebar-toggler" class="fa-solid"></i>
        </div>

        <div class="profile-wrapper">
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <div class="mt-1 text-muted small">
                    @User.Identity.Name
                </div>
            }
        </div>

        <ejs-menu id="menu"
                  items="menuItems"
                  orientation="Vertical"
                  hamburgerMode></ejs-menu>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="mt-4 text-center">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-outline-danger btn-sm w-75">
                        <i class="fa-solid fa-right-from-bracket me-1"></i> Вийти
                    </button>
                </form>
            </div>
        }

    </e-content-template>
</ejs-sidebar>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dockBar = document.getElementById('sidebar').ej2_instances[0];
        document.getElementById('sidebar-toggler').onclick = function () {
            dockBar.toggle();
        };
    });
</script>
